
<p>Incoming Orders</p>
<div class="topBar">
    <div class="orderOne">
     <div class="information">
<span>Order X0005</span><br>
<span>Supplier ID:019244</span><br>
<span>Product Group: Fresh vegetables</span><br>
<span>Quantity: 50</span><br>
<span>Grading: Grade (1-4) Size (U-XL)</span><br>
<span>Description: Spinach Bean Prepack</span><br>
<span>Price:</span>
</div> 
<span class="datePicker">Recieved: 20July 2023 12:00</span>

  


<div class="btn">
    <button class="btn1">Accept</button>
    <button class="btn2">Reject</button>
</div>
</div>


</div>




