*{
    background-color: #E6E6E6;
    color: black;
    margin: 0;

}



.mainScreen{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  padding: 2%;
 
}

 .toolBar{
    display: flex;
    flex-direction: row;
    height: 8%;  
    gap:80%;
    padding: 2%;
  
}

.header{
display: flex;
border: 1px solid,none;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: white;
align-items: center;
justify-content: center;

}

.main{
display: flex;
flex-direction: column;
gap:1%



}
.leftBar{
display: flex;
flex-direction: row;
gap:30px

}




  .mainContainer{
        display: flex;
        flex-direction: column; 
        height: 40%;
        padding: 2%;
        gap:10px;
    
   
        
        }
        .firstRow,.secondRow{
        display: flex;
        flex-direction: row;
        gap:8%;
        
        }
        .firstRow a{
            display: flex;
            border: 2px solid gray ,none;
            width: 250px;
            height: 85px;
            background-color: white;
            text-decoration: none;
            color: black;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
        }
        .secondRow a{
            display: flex;
            border: 2px solid gray ,none;
            width: 250px;
            height: 85px;
            background-color: white;
            text-decoration: none;
            color: black;
            align-items: center;
            justify-content: center;
            border-radius: 7px; 
        }
        .boxes{
            display: flex;
            flex-direction: column;
            gap:10px;
         
        
        }

        .salesHistory{
                 display: flex;
                  flex-direction: column;
                 justify-content: center;
                   align-items: center;
                   height: 40%;
             
                  
                  }

          .pie-chart {
            position: relative;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-color: #f2f2f2;
            overflow: hidden;
          }
          
          .slice {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            transform-origin: left;
            clip: rect(0, 125px, 250px, 0);
          }
          .slice-1-trans{
            position: absolute;
            left: 0%;
            top: 23%;
            transform: rotate(358deg);
            color: black;
            z-index: 10;
          }
          
          .slice-2 {
            transform: rotate(72deg);
            background-color: #45B7B4;
          }
          .slice-2-trans{
            position: absolute;
            left: 50%;
            top: 20%;
            transform: rotate(287deg);
        }  
          
          .slice-3 {
            transform: rotate(144deg);
            background-color: #FFEE58;
       
          }
        .slice-3-trans{
            position: absolute;
            left: 13%;
            top: 25%;
            transform: rotate(216deg);
        }  
    
          .slice-4 {
            transform: rotate(216deg);
            background-color: #64B5F6;
          }
    
          .slice-4-trans{
            position: absolute;
            left: 20%;
            top: 13%;
            transform: rotate(145deg);
          }
          
          .slice-5 {
            transform: rotate(288deg);
            background-color: #EA7773;
          }
         
    .links a{
        text-decoration: none;
        color: black;
        gap:1%;
        padding: 2%;
     
    }
    .links{
    display: flex;
    flex-direction: row;
    
    }

    @media screen and (max-width:1080){
      .toolBar {
        display: flex;
        flex-direction: row;
        height: 8%;
        // gap: 15%;
        // justify-content: space-between;
        padding: 2%
      }
    }
    
        
      

      
      
      
      
      
      
    