
*{
  background-color: #E6E6E6;
  color: black;
  margin: 0;

}
.salesHistory{
  display: flex;
  flex-direction: column; 
  padding: 2%;
  height: 50%;
 

}

#categoryDropdown{
width: 100%;
height: 40px;
background-color: white;


}
.date{
display: flex;
flex-direction: row;
gap:2%;
width: 100%;

}

.selectors{
display: flex;
flex-direction: column;
  height: 50%;
  
  gap: 3%;
}



  // .links a{
  //     text-decoration: none;
  //     color: black;
  //     gap:1%;
  //     padding: 2%;
   
  // }
  // .links{
  // display: flex;
  // flex-direction: row;
  // height: 5%;
  
  // }
 .btn{
  
  height: 30px;
  width: 100%;
  background-color:#0D99FF;
  color: white;
  border: none;
 }





@media screen and (max-width: 1080px) { 
// .toolBar {
//   display: flex;
//   flex-direction: row;
//   height: 8%;
//   gap: 20%;
//   padding: 2%;

  
// }
.heading{
  margin-right: 265px
  }








  .salesHistory {
    display: flex;
    flex-direction: column;


}


// #categoryDropdown {
//   width: 300px;
//   margin-right: 90px;
// }

.date{
  display: flex;
  flex-direction: row;
  // gap:2px
}

mat-form-field {

  width: 50%;
}






.btn {
  width: 350px;

}
}

      
    

    
    
    
    
    
    
  
  
