<div class="container">
    <div class="menu">
       <div class="toolbar">
          <span class="initials">JD</span>
          <span>Joe Doe<br>Farmer ID:856246521</span>
          <!--<mat-icon>menu</mat-icon>-->
        </div>

 
<!-- second row -->
<div class="mainContainer">
      
        <h4>Product Category</h4>
        <div class="boxes">
          <div class="firstRow">
             <button>Beverages</button>
             <button>Containers</button>
             <button>Dried Fruit</button>
             <button>Fresh Vegetables</button>
          </div>
          <div class="secondRow">
             <button> Dried Vegetables</button>
             <button>Nuts And Seeds</button>
             <button>Prepared & Preserved Foods</button>
             <button>Fresh Fruits</button>
          </div>

    </div>  

</div>
    


<!-- third row -->



    <div class="salesHistory">
        <label>Sales History</label>
        
        <div class="pie-chart">
            <div class="slice slice-1" data-percentage="20">
              <label class="slice-1-trans">1 - 20%</label>
            </div>
            <div class="slice slice-2" data-percentage="30">
              <label class="slice-2-trans">2-23%</label>
            </div>
            <div class="slice slice-3" data-percentage="15">
              <label class="slice-3-trans"> 3 - 15%</label>
            </div>
            <div class="slice slice-4" data-percentage="10">
              <label class="slice-4-trans"> 4 - 10%</label>
            </div>
            <div class="slice slice-5" data-percentage="25">
           
            </div>
          </div>
          
          
      
        





 </div>

    <div class="footer"> 
      <span>Home</span>
      <span>Product List</span>
      <span>Analytics</span>
      <span>Profile</span>
    
       

    </div>


</div>


