
  <div class="container">
    <div class="menu">
      <div class="toolbar">
        <span class="initials">JD</span>
        <span>Joe Doe<br>Farmer ID:856246521</span>
    
     <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/main screen">Home</button>
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item routerLink="/page2">Sale Management</button>
        <button mat-menu-item routerLink="/content">Product Listing</button>
        <button mat-menu-item routerLink="/user">Analytics</button>
        <button mat-menu-item routerLink="/main content">Payments</button>
        <button mat-menu-item routerLink="/communication">Communication</button>
        <button mat-menu-item routerLink="/login">Logout</button>
        
        
      </mat-menu>

      </div>

      
      <div class="mainContent">
        <div class="selectors">




<label for="categoryDropdown"> Select Product Category</label>


<div class="dropdown">
<select id="categoryDropdown" [(ngModel)]="selectedCategory">
 
  <option value="beverages">Beverages</option>
  <option value="containers">Containers</option>
  <option value="dried-fruit">Dried Fruit</option>
  <option value="fresh-vegetables">Fresh Vegetables</option>
  <option value="dried-vegetables">Dried Vegetables</option>
  <option value="nuts-seeds">Nuts And Seeds</option>
  <option value="prepared-foods">Prepared & Preserved Foods</option>
  <option value="fresh-fruits">Fresh Fruits</option>
</select> 
</div>

<div class="date">

<mat-form-field >
<mat-label>Start date</mat-label>
<input matInput [matDatepicker]="picker">
<mat-hint>MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
</mat-form-field>




<mat-form-field >
<mat-label>End date</mat-label>
<input matInput [matDatepicker]="picker">
<mat-hint>MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div>

<button class="btn">Filter</button>
        </div>

  



<div class="salesHistory">   
      
        <canvasjs-chart  [options]="chartOptions" [styles]="{width: '100%', height:'200px' }" ></canvasjs-chart>    
      
</div>
</div>
    
    




<div class="footer">

  <a routerLink="/main screen">Home</a>
  <a routerLink="/content">Product List</a>
  <a routerLink="/user">Analytics</a>
  <a routerLink="/profile">Profile</a>
</div>


        


      
      


    </div>


  </div>
