<div class="container">
    <div class="toolbar">
        <h4>Profile</h4>
       
    </div>

    <div class="sales">
        <h4>Sales History</h4><br><br>
    </div>
    
    <div class="boxx">
       
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Product Category</th>
              <th>Quantity</th>
              <th>Sell Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sales and bulbs<br> and seedings and<br> cuttings</td>
              <td>50</td>
              <td>2023/04/05</td>
            </tr>
            <tr>
              <td>Dried Vegetables</td>
              <td>100</td>
              <td>2023/05/06</td>
            </tr>
            <tr>
              <td>Beverages</td>
              <td>20</td>
              <td>2023/06/26</td>
            </tr>
            <tr>
              <td>Containers and<br> Storage</td>
              <td>11</td>
              <td>2023/03/11</td>
            </tr>
          </tbody>
        </table>

       </div>

       <div class="sales">
        <h4>Sales Performance</h4><br><br>
    </div>

   
    <div class="graph-container">
        <div class="bar" style="--height: 80%;" data-value="80">Spinach</div>
        <div class="bar" style="--height: 70%;" data-value="60">Mandarin</div>
        <div class="bar" style="--height: 65%;" data-value="65">Pineapples</div>
        <div class="bar" style="--height: 45%;" data-value="45">Other</div>
      </div>

     <div class="footer">
        <span>Home</span>
        <span>Product List</span>
        <span>Analytics</span>
        <span>Profile</span>
     </div>

      </div>

