.rejectMain{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    gap: 3%;
    justify-content: center;
    align-items: center;
 
    height: 100%;
    
}

p{
    display: flex;
    padding-left: 10px;
   
}