<div class="container">
    <div class="menu">
        <div class="toolbar">
             <div>Profile</div>
            <img class="mm" src="../../assets/OIP (1).jpg">
        </div>
        <div class="formArea1">
            <div class="details">
            <div>User Details</div>
            <img src="../../assets/751854.png">
        </div>

        <form>
             <div class="details2">
             <label>Name</label><br>
            <label>Surname</label><br>
            <label>Supplier/FarmerID</label><br>
            <label>Status</label><br>
            <label>Office Address</label>
            </div>

            <div class="details1">
            <label>Nell</label><br>
            <label>Groen</label><br>
             <label>225577</label><br>
             <label>N/A</label><br>
            <label>77 Boksburg</label>
            </div>
        </form>
        </div>
        <div class="formArea">

        <div class=" subheading">Contact Details</div>

        <div class="form2">
            <div class="details2">
             <label>Contact Number</label><br>
             <label>Office Number</label><br>
             </div>

               <div class="details1">
                <label>0112569877</label><br>
                <label>0115987463</label><br>
                </div>

            </div>
        </div>

            <div class="footer">
                <span>Home</span>
                <span>Product List</span>
                <span>Analytics</span>
                <span>Profile</span>
             </div>
    


    </div>
</div>
