

.menu{

    height: 100%;
}

.table1{

    height: 60%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.table2{

    height: 40%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.table-container {
    display: flex;
    justify-content: space-between;
   
    flex-direction: row;
    
    border-radius: 5px;
}

.table-container table {
    border-collapse: collapse;
    width: 45%;
  
}

.table-container th, .table-container td {
    
    padding: 8px;
    text-align: left;
}

.form2 {
  
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
   
}

.details2, .details1 {
    display: flex;
    flex-direction: column;
   
}




.details1 {
    
}

h2, h4 {
    margin-top: 20px;
}