<div class="container">
    <div class="menu">
        <div class="toolbar">
            <span class="initials">JD</span>
            <span>Joe Doe<br>Farmer ID:856246521</span>
        
         <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/message">Home</button>
            <button mat-menu-item routerLink="/page2">Sale Management</button>
            <button mat-menu-item routerLink="/page3">Product Listing</button>
            <button mat-menu-item routerLink="/page1">Analytics</button>
            <button mat-menu-item routerLink="/page2">Payments</button>
            <button mat-menu-item routerLink="/page3">COmmunication</button>
            <button mat-menu-item routerLink="/page3">Logout</button>
            
            
          </mat-menu>

          
          
        </div>
        <div class="mainContent">
            To:<br>
            <input class="input1">
            Message:
            <input class="input2">
            <button class="sendBtn"  (click)="sendMessage()">send</button>
           
            
        </div>
        <div class="footer">

            <span>Home</span>
            <span>Product List</span>
            <span>Analytics</span>
            <span>Profile</span>
        </div>












    </div>







</div>