
$primaryColor: #e6e6e6;
$secondaryColor: #fff;
$currencyColor: #03c04a;
$dateColor: #88807b;

$black: #060606;

//toolbar
.arrow-payment, .para, nav ul{
    display: flex;
}

 .menu-bar, nav li{
    margin-top: 30px;
}

 .main-content, .footer{
    background: $primaryColor;
} 

.mainContentTypes, .btn, .section-two p{
    margin-top: 10px;
}


 .para{
    width: 100%;
    height: 150px;
}

.currency, nav :hover {
    color: $currencyColor;
}

.main-container{
   
    margin: 0 auto;
    //border: 2px solid orangered;
}

.arrow{
    margin-top: 28px;
    margin-left: 25px
}



.menu-bar{
    margin-right: 95px;
}


//main

.mainContentTypes, .btn{
    
    height: 50px;
    border-radius: 3px;
    border: none;

}

.input ::placeholder{
    font-size: 18px;
    font-weight: medium;
    color: $black;
    padding:2%
}

.place, nav{
    color: $black;
}

.date{
    margin-top: 5px;
    font-size: 12px;
    color: $dateColor;
}

.currency{
    margin-left: 534px;
    margin-top: -40px;
    font-size: 25px;
}

.order{
    font-weight: bold;
    padding: 6px;
    background-color: $secondaryColor;

}

//footer


    nav{
        ul{
            justify-content: space-between;
            width: 80%;
           
            li{
              list-style: none; 
              font-size: 20px;
              font-weight: bold;
            }
        }
    }


nav{
    cursor: pointer;
}

@media (min-width: 300px) {
    nav ul, nav li{
        display: flex;
        flex-wrap: wrap;
    }
}



