<div class="main-container">
    <div class="main-content">
        <div class="section-one">
            <p>Payment Options</p>
            <div class="input">
                <input class="mainContentTypes" type="text" name="Siyakhokha EFT" placeholder="Siyakhokha EFT">
            </div>
            <div class="input">
                <input class="mainContentTypes" type="text" name="Siyakhokha Masterpass" placeholder="Siyakhokha Masterpass">
            </div>
        </div>

        <div class="section-two">
            <p>Receivables</p>
            <div class="buttons">
                <div class="btn">
                    <div class="order">
                        <div>
                            <label class="place">Order X0001</label>
                        </div>
                        <div>
                            <label class="date">2023/07/03 09:59 am</label>
                        </div>
                        </div>
                            <div class="currency">
                                <h6>R 1000.00</h6>
                            </div>
                        </div>

                <div class="btn">
                    <div class="order">
                        <div>
                            <label class="place">Order X0001</label>
                        </div>
                        <div>
                            <label class="date">2023/07/03 09:59 am</label>
                        </div>
                        </div>
                            <div class="currency">
                                <h6>R 3500.00</h6>
                            </div>
                        </div>

                <div class="btn">
                    <div class="order">
                            <div>
                                <label class="place">Order X0001</label>
                            </div>
                            <div>
                                <label class="date">2023/07/03 09:59 am</label>
                            </div>
                            </div>
                            <div class="currency">
                                <h6>R 2850.00</h6>
                            </div>
                </div>
            </div>

