<div class="container">
    <div class="menu">
        <div class="toolbar">
            <span class="initials">JD</span>
            <span>Joe Doe<br>Farmer ID:856246521</span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
              
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/message">Page 1</button>
                <button mat-menu-item routerLink="/page2">Page 2</button>
                <button mat-menu-item routerLink="/page3">Page 3</button>
                <button mat-menu-item routerLink="/page1">Page 1</button>
                <button mat-menu-item routerLink="/page2">Page 2</button>
                <button mat-menu-item routerLink="/page3">Page 3</button>
                
                
              </mat-menu>
        </div>
        <div class="mainContent">

        <div class="section-one">
            <p>Payment Options</p>
           
                <input class="mainContentTypes" type="text" name="Siyakhokha EFT" placeholder="Siyakhokha EFT">
          
                <input class="mainContentTypes" type="text" name="Siyakhokha Masterpass" placeholder="Siyakhokha Masterpass">
     </div>

        <div class="section-two">
            <p>Receivables</p>
            <div class="buttons">
                <div class="btn">
                    <div class="order">
                        <div>
                            <label class="place">Order X0001</label>
                        </div>
                        <div>
                            <label class="date">2023/07/03 09:59 am</label>
                        </div>
                        </div>
                            <div class="currency">
                                <h6>R 1000.00</h6>
                            </div>
                        </div>

                <div class="btn">
                    <div class="order">
                        <div>
                            <label class="place">Order X0002</label>
                        </div>
                        <div>
                            <label class="date">2023/07/03 09:59 am</label>
                        </div>
                        </div>
                            <div class="currency">
                                <h6>R 3500.00</h6>
                            </div>
                        </div>

                <div class="btn">
                    <div class="order">
                            <div>
                                <label class="place">Order X0003</label>
                            </div>
                            <div>
                                <label class="date">2023/07/03 09:59 am</label>
                            </div>
                            </div>
                            <div class="currency">
                                <h6>R 2850.00</h6>
                            </div>
                </div>
                
                </div>
        </div>
            </div>
            <div class="footer">

                <span>Home</span>
                <span>Product List</span>
                <span>Analytics</span>
                <span>Profile</span>
            </div>


