




.list{

    height: 70%;
    
   
    display: flex;
    flex-direction: column;
    gap: 2%;
    
   
}







.input1{

    height: 10%;
    border: none;
    border-radius: 2%;
}

.input2{

    height: 40%;
    border: none;
    border-radius: 2%;
}


p{

    background-color: white;
    height: 50%;
   padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-radius: 3px;

}

.paragraph2{

    background-color: #AFF4C6;
    border-radius: 3px;
}

.redHeading{

    color: red;
}






button{

    height: 20%;
  
    border: none;
    color: black;
    font-size: 1.3em;
    border-radius: 2%;
    
}


.addBtn{
  
    height: 30px;
    width: 100%;
    background-color:#0D99FF;
    color: white;
    border: none;
    border-radius: 3px;
   }