<!-- <div class="mainPage">
<div class="app-toolbar-reject"><app-toolbar-reject></app-toolbar-reject></div>
<div class="app-main-content-reject"><app-main-content-reject></app-main-content-reject></div>
<div class=app-footer-reject><app-footer-reject></app-footer-reject></div>
</div> -->

<div class="container">
    <div class="menu">
        <div class="toolbar">
            <div class="management">
    
                <!-- <mat-icon>chevron_left</mat-icon> -->
                <span class="myspan">Sales Management</span>
                
            
            
            
                <!-- <mat-icon>chevron_left</mat-icon> -->
                <span class="myspan">Order History</span>
            </div>
            
            <div class="threeDots">
                <!-- <mat-icon>menu</mat-icon> -->
            </div>
            
        </div>
        </div>
        <div class="information">
            <div class="rejectMain">
                <!-- <app-topbar></app-topbar>
                <app-bootombar-reject></app-bootombar-reject> -->
                <p>Incoming Orders</p>
<div class="topBar">
    <div class="orderOne">
     <div class="information">
<span>Order X0005</span><br>
<span>Supplier ID:019244</span><br>
<span>Product Group: Fresh vegetables</span><br>
<span>Quantity: 50</span><br>
<span>Grading: Grade (1-4) Size (U-XL)</span><br>
<span>Description: Spinach Bean Prepack</span><br>
<span>Price:</span>
</div> 
<span class="datePicker">Recieved: 20July 2023 12:00</span>

                </div>
                
        </div>
        <div class="lastbar">
            <p>Incoming Orders</p>
<div class="topBar">
    <div class="orderOne">
     <div class="information">
<span>Order X0005</span><br>
<span>Supplier ID:019244</span><br>
<span>Product Group: Fresh vegetables</span><br>
<span>Quantity: 50</span><br>
<span>Grading: Grade (1-4) Size (U-XL)</span><br>
<span>Description: Spinach Bean Prepack</span><br>
<span>Price:</span>
</div> 
<span class="datePicker">Recieved: 20July 2023 12:00</span>

        </div>

        <div class="footer">
            <span>Home</span>
            <span>Product List</span>
            <span>Analytics</span>
            <span>Profile</span>
        </div>
    </div>