
  
  .topBar, .bottomBar {
    height: 47%;
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   

  }
  
 
  .btn {
    display: flex;
    flex-direction: row;
    
    
  }
  
  .btn1,
  .btn2 {
    color: blue;
    background-color: white;
    width: 80px;
    height: 25px;
    border: none;
    margin-top: 2%;
  }
  
  .btn2 {
    color: red;
    margin-right: 10%;
  }
  
  .datePicker {
    color:lightgray;
    padding-left: 150px;
    font-size: smaller;
  }

  



  

  
  